@CHARSET "UTF-8";


body {
	background-color: #ffffc0;
}

.watch {
	margin-top: 50px;
	text-weight:bold;
	font-size: 25px;
	text-align: center;
}

#stopwatch {
	margin-top: 10%;
	text-align: center;

}

.buttons {
	text-align: center;
}

#start {
  position: relative;
  background-color: #FF8C00;
  border-radius: 3px;
  color: #fff;
  line-height: 35px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  cursor : pointer;
}
#start:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
#start:active {
  top: 4px;
  box-shadow: none;
}

#stop {
  position: relative;
  background-color: #FF8C00;
  border-radius: 3px;
  color: #fff;
  line-height: 35px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  cursor : pointer;
}
#stop:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
#stop:active {
  top: 4px;
  box-shadow: none;
}

#reset {
  position: relative;
  background-color: #FF8C00;
  border-radius: 3px;
  color: #fff;
  line-height: 35px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  cursor : pointer;
}
#reset:hover {
  background-color: #31c8aa;
  box-shadow: 0 3px 0 #23a188;
}
#reset:active {
  top: 4px;
  box-shadow: none;
}